<head>
    <title>Справка</title>
    <link rel="stylesheet" href="css/help.css">
    <link rel="stylesheet" href="css/buttons.css">

    <link href='https://fonts.googleapis.com/css?family=Mulish' rel='stylesheet'>
</head>

<body>
    <header class="header">
        <div class="header-button-holder">
            <button class="header-button" type="button">{{.Version}}</button>
            <a href="/help"><button class="header-button" type="button">Help</button></a>
            <a href="/contact"><button class="header-button" type="button">Contact me</button></a>
        </div>
    </header>

    <div class="column">
        <h1 id="shubert">Справка</h1>
        <h2 id="-">Описание</h2>
        <p>Утилита позволяет использовать миди контроллер для отправки команд в терминал. Может быть полезна для
            тестирования API или в пет-проектах. Утилита позволяет быстро замапить кнопки любого контроллера и
            поддерживает несколько контроллеров одновременно.</p>
        <h2 id="-">Использование</h2>
        <p>Запустите утилиту как приложение (Windows/MacOS) или в докер контейнере (Linux) и подключите контроллер.
            Откройте ссылку <a href="http://localhost:8088">http://localhost:8088</a> для настройки контроллера в веб
            интерфейсе.</p>
        <h2 id="-">Интерфейс</h3>
        <p><img src="pics/help/interface.png" alt="interface"></p>
        <p>На главной странице отображаются все настроенные миди контроллеры и карточки для каждого контроллера где
            задается маппинг кнопок на команды. Изначально загружен демо-конфиг который не будет работать с вашим
            контроллером, он только для ознакомления</p>
        <h3 id="-">Настройка контроллера</h4>
            <p>Для настройки вашего контроллера:</p>
            <ol>
                <li>
                    <p>Нажмите кнопку &quot;Start Mapping&quot; (кнопка поменяет цвет)</p>
                    <p><img src="pics/help/mapping-mode.png" alt="mapping-mode"></p>
                </li>
                <li>
                    <p>Нажмите кнопку/поверните ручку на контроллере. Должна появиться новая карточка, она будет
                        подсвечена и страница проскроллится к ней</p>
                    <p><img src="pics/help/new-card.png" alt="interface"></p>
                </li>
                <li>
                    <p>Заполните поля</p>
                    <ul>
                        <li><strong>Alias</strong>: имя карточки</li>
                        <li><strong>Command</strong>: назначенная команда. Смотрите демо конфиг для примеров</li>
                        <li><strong>Trigger</strong>: момент срабатывания.</li>
                        <li><strong>Timeout</strong>: время через которое выполнение команды будет прервано. (Не работает под Windows)
                        </li>
                    </ul>
                </li>
                <li>После заполнения карточки нажмите зеленую галку в левом верхнем углу для сохранения. Сохранятся
                    сразу все карточки</li>
                <li>Повторите шаги для всех требуемых команд. Если вы нажали кнопку случайно, нажмите на красный крест в
                    правом верхнем углу карточки чтобы удалить ее</li>
                <li>Для завершения настройки нажмите кнопку &quot;Stop mapping&quot;, она вернется в изначальное
                    состояние.</li>
            </ol>
            <h3 id="-">Обычный режим</h3>
                <p>Теперь по нажатию настроенных кнопок будет выполняться назначенная команда. Соответствующая карточка
                    будет подсвечена при нажатии.</p>
                <p><img src="pics/help/active-card.png" alt="active-card"></p>
                <p>Веб страницу на этом этапе можно закрыть, программа будет работать в фоне</p>
                <p>Режим Mapping нужен только для создания новых карточек. Редактировать уже созданные карточки можно и
                    в обычном режиме</p>
                <h2 id="-">Решение проблем
            </h3>
            <p><strong>? Маппинг контроллера не работает</strong></p>
            <ul>
                <li>Проверьте логи приложения в консоли/контейнере. Устройство должно определиться
                    <code>2025/05/18 06:55:53 Current: [Launchkey Mini MK3 MIDI Port Launchkey Mini MK3 DAW Port]</code>
                </li>
                <li>Если не определилось, перезапустите приложение с подключенным контроллером и проверьте еще раз</li>
            </ul>
            <p><strong>? Команда не работает</strong></p>
            <ul>
                <li>Убедитесь что вы не в режиме Маппинг</li>
                <li>Проверьте что вы сохранили настройки (Save configuration или зеленая галка на любой карточке)</li>
                <li>Проверьте что в логах есть события по нажатию кнопки
                    <code>2025/05/18 06:59:38 command not found event {Launchkey Mini MK3 MIDI Port 9 49 0} not found</code>
                </li>
            </ul>
            <p><strong>? Ничего не работает</strong></p>
            <ul>
                <li>Напишите мне по кнопке Contact me</li>
            </ul>
    </div>
</body>